# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
ordered list contains :-
        1- Python.
        2- R language.
        3- Julia.
        4- Go.

Some of the commonly used libraries used by Data Scientists include:

1- Numpy.
2- Pandas.
3- Plotly.
4- Scikit.

|Data Science Tool |
|:----------------:|
|Tensorflow|
|Apache Spark|
|D3.js|
|Scrapy|
Tableau|
|SQL|

## Below are a few examples of evaluating arithmetic expressions in Python.

### 1- Addition.
### 2- Substraction.
### 3- Multiplication.
### 4- Exponential.

In [4]:
#Let a and b be the value entered below:-
a = 10 
b = 21
e = 221
c = a + b * e
print(c)

4651

In [7]:
#The below example converts hours into minutes.
#This will convert 200 minutes to hours by diving by 60.
200%60

20

## Every thing covered in this course
### 1- Languages used in data science.
### 2- Tools used in data science.
### 3- Kernels used in Data science.

## Author
Harikrishna panchal